APP_NAME=auth-service
ENVIRONMENT=dev
LOG_LEVEL=INFO

DB_URL=sqlite:///./auth.db
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=authentification_service
DB_USER=root
DB_PASSWORD=

JWT_SECRET_KEY="7f8d2a1e4b9c6d0f3a8e5b2c1d4f9a0e7c6b3f1a2d9e5c4b8a1f0d7e2c3b4a6"
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7


INITIAL_SUPERADMIN_USERNAME=superadmin
INITIAL_SUPERADMIN_PASSWORD=SuperAdmin123!
INITIAL_SUPERADMIN_EMAIL=superadmin@example.com
INITIAL_SUPERADMIN_FULL_NAME=Super Admin